profile = ocamlformat
break-cases = fit-or-vertical
break-collection-expressions = fit-or-vertical
break-infix = wrap-or-vertical
break-infix-before-func = true
break-sequences = true
break-separators = after
break-struct = force
cases-exp-indent = 2
field-space = loose
if-then-else = keyword-first
let-and = sparse
let-module = sparse
line-endings = lf
module-item-spacing = compact
margin = 60
sequence-style = separator
sequence-blank-line = compact
single-case = compact
space-around-lists = true
space-around-records = true
wrap-comments = true
